@import '~bootstrap/scss/bootstrap';
$blue: #111f5a;
$bluegray: #b5bcdd;
$correct: #12a55e;
$correcttext: #fff;
$wrong: #a41e2d;
$dark: #11131c;
$whitegray: #f3f3f3;

// mixed use of interpolation is to prevent the '-' being a
//   mathematical opearator. interpolation is not needed for
//   positive values
@mixin text-shadow($x, $y, $blur, $color) {
  text-shadow:
    -#{$x} -#{$y} $blur $color,
    $x -#{$y} $blur $color,
    -#{$x} $y $blur $color,
    $x $y $blur $color,
}

body {
  margin: 0;
  background-color: $blue;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: $bluegray;

  h1 {
    margin: 12rem auto 0 auto;
    font-size: 3rem;
    font-weight: bold;
    @include text-shadow(0.0625rem, 0.0625rem, 0, $dark);
  }

  .question {
    width: 600px;
    margin: 1rem auto auto auto;

    .question-title {
      text-align: center;
      color: $whitegray;
      @include text-shadow(0.03125rem, 0.03125rem, 0, $dark)
    }

    &-answers {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;

      label {
        display: flex;
        padding: 1rem;
        margin: 0.33rem 0;
        color: $dark;
        background-color: $bluegray;
        font-size: 1.25rem;
        font-weight: bold;
        align-items: center;

        &.correct {
          background-color: $correct;
          color: $correcttext;
          @include text-shadow(0.015625rem, 0.015625rem, 0, $dark)
        }

        &.incorrect {
          background-color: $wrong;
          color: $whitegray;
          @include text-shadow(0.015625rem, 0.015625rem, 0, $dark)
        }
      }
    }

    &-actions {
      display: flex;
      justify-content: flex-end;

      #qcounter {
        margin: auto auto auto 0;
      }
    }
  }

  .score {
    margin: 1rem auto auto auto;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .hide {
    display: none;
  }
}

button {
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: lightblue;
  color: $dark;
  padding: 0.75rem;
}

input.answer {
  margin-right: 1rem;
}
